body{
    background-color: white;
    text-align: center;
  }
  .inner-body{
    background-color: #e6e6e6;
    border-width: 0;
    border-radius: 1%;
    font-family: sans-serif;
  }
  #title{
    height: 80px;
    display: flex;
    color: #333;
    flex-direction: column;
    justify-content: flex-end;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.3em;
  }
  #img-div{
    width: 95%;
    background-color: white;
    margin: auto;
    padding: 10px 10px 20px 10px;
  }
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
  #img-caption{
    padding-top: 20px;
    color: #333;
    font-size: 1em;
  }
  #tribute-info{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .list{
    margin: auto;
    width: 41%;
    text-align: left;
    font-size: 1em;
    line-height: 1.5;
  }
  
  .quotation{
    margin: auto;
    width: 41%;
    text-align: left;
    font-size: 1em;
  }
  
  a:hover{
    color: #007a99;
  }
    
  @media(max-width: 600px){
    .list{
    margin: auto;
    width: 80%;
    text-align: left;
    font-size: 1em;
  }
  
  .quotation{
    margin: auto;
    width: 80%;
    text-align: left;
    font-size: 1em;
  }
  }
